html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
button {
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

body {
    background-color: rgb(40, 40, 40);
}

nav {
    position: fixed; 
    top: 0;
    left: 0;
    background: rgb(40, 40, 40);
    width: 100%;
    font-family: Verdana, sans-serif;
    z-index: 99;
    padding-top: 5px;
}
nav ul {
    margin: 0 5vw;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 83px; 
    gap: 40px;
}
nav ul li:first-child {
    margin-right: auto;
  }
.logo {
    height: 80px;
    width: 180px;
}

nav ul li a {
    color: rgb(248,240,157);
    display: inline-flex;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
}
nav ul li a:hover {
    color: #FFF;
}
nav ul li a.active {
    border-bottom: 2px solid #FFF;
    padding-bottom: 6px;
    color: #FFF;
}
section {
    background: rgb(51, 51, 51);
    border-bottom: 4px solid rgb(248,240,157);
    width: 95vw;
    margin: 0 auto;
    font-family: Verdana, sans-serif;       
    font-size: 22px;
    color: #FFF;
}
section:nth-child(even) {
    background: transparent;
}
section:first-child {
    margin-top: 60px;
}
section.active {
    /* Стиль для активной секции */
}



/*Slider*/
header {
    width: 85vw;
    margin: 95px auto 0;
}
.slider * {
    box-sizing: border-box;
}    
.slider {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.slider .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.3s;
}
.slider .item:not(.is-active) {
    opacity: 0;
    pointer-events: none;
}
.slider .item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.slider .item .imgs {
    position: relative;
    width: 60%;
    padding-top: 60%;
}
.slider .item .imgs .grid {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    transform: rotate(-20deg);
}
.slider .item .img {
    width: 100%;
    height: 100%;
    position: relative;
    will-change: transform;
    box-shadow: -2px 4px 12px rgba(0,0,0,0.2), -8px 16px 20px rgba(0,0,0,0.2);
    background: #000;
}
.slider .item .img img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    opacity: 0.7;
    transition: opacity 1s;
}
.slider .item .img:hover img {
    opacity: 1;
}
.slider .item .img-1 {
    grid-area: 1/1/7/5;
}
.slider .item .img-2 {
    grid-area: 2/5/7/13;
}
.slider .item .img-3 {
    grid-area: 7/1/12/9;
}
.slider .item .img-4 {
    grid-area: 7/9/13/13;
}
.slider .item .content {
    pointer-events: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 120px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    font-weight: 600;
    font-family: Verdana, sans-serif;   
    text-align: center;
    text-shadow: 0 0 12px rgba(0,0,0,0.5), 0 2px 6px rgba(0,0,0,0.7);  
    color: rgb(248,240,157);
    font-size: 44px;
    text-transform: uppercase;  
}
.slider .item .content .item-text {
    color: #FFF;
    font-size: 20px;
    margin-top: 20px;
}
.slider .item .content .item-title .letter {
    display: inline-block;
}
.slider .nav .next, 
.slider .nav .prev {
    height: 80px;
    width: 80px;
    position: absolute;
    top: calc(50% - 40px);
    cursor: pointer;
    z-index: 4;
    transition: transform 0.3s;
}
.slider .nav .next {
    right: 20px;
}
.slider .nav .next:hover {
    transform: translateX(10px);
}
.slider .nav .prev {
    left: 20px;
}
.slider .nav .prev:hover {
    transform: translateX(-10px);
}
.slider .nav .next svg, 
.slider .nav .prev svg {
    stroke: rgb(248,240,157);
    transition: stroke 0.3s;
}
.slider .nav .next:hover svg, 
.slider .nav .prev:hover svg {
    stroke: #FFF;
}
@media (max-width: 767px) {
    .slider {
        height: 400px;
    }
    .slider .nav .next, 
    .slider .nav .prev {
        height: 40px;
        width: 40px;
        top: calc(50% - 20px);
    }
    .slider .nav .next {
        right: 10px;
    }
    .slider .nav .prev {
        left: 10px;
    }
    .slider .item .content {
        font-size: 20px;
        padding: 0 60px;
    }
    .slider .item .content .item-text {
        font-size: 13px;
    }
}
@media (max-width: 460px) {
    .slider .item .imgs {
        width: 100%;
        padding-top: 100%;
    }
}


/*section 1*/
.section-first {
    color: #000;
}
.container__section-1 {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.img-section {
    width: 40vw;
    background: linear-gradient(135deg, rgb(252, 237, 70) 0%, rgb(248,240,157) 40%, #a1a1a1 40%, #FFF 100%);
    display: flex;   
    align-items: center;
    margin: 2vw 0;
    border-radius: 2vw;
}
.img-section img {
    border: 1.5vw solid rgba(254, 250, 240, 0.8);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
    margin: 2vw;
    box-sizing: border-box;
    flex: 0 0 16vw;
    width: 17vw;
    height: 12vw;
}
.img-section .img-data {
    font-family: Verdana, sans-serif;
    font-size: 20px;
}
@media only screen and (max-width: 700px) {
    .img-section {
        flex-flow: row wrap;
    }
    .img-section .img-data {
        background: #FFF;
        border-bottom: 8px solid #fff27d;
    }
    .img-section img {
        margin: 40px auto;
        flex: 0 0 80%;
        width: 80%;
    }
}